.vagrant/
berks-cookbooks/
packer/packer_cache
packer/output
packer/packer_virtualbox-iso_virtualbox.box
tmp
.kitchen/
.kitchen.local.yml
policies/*.lock.json
.chef/*.pem
.chef/encrypted_data_bag_secret
.chef/knife.rb
